<%- include('./partials/head.ejs')%>
<%- include('./partials/nav.ejs')%>

<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p>Sint asperiores perspiciatis vitae! Odio, quos. Aperiam, ut. </p>
    <p>At, nobis facilis cumque architecto aliquam optio laudantium est, necessitatibus,</p>
    <p>debitis cupiditate beatae doloremque.</p>
</div>


<%- include('./partials/foot.ejs')%>